<style>
    table{
        padding:10px,
    }
</style>
<div ng-controller="dashboard" ng-cloak >
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Proxies</span>
            <!-- <span class="md-subhead">Intances with 'proxy' label</span> -->
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <table>
                <tr>
                    <th style="text-align:left">Instance Name</th>
                    <th style="text-align:left">Status</th>
                    <th style="text-align:left">External NAT</th>
                    <th style="text-align:left">Preemptible</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="vm in vms">
                    <td>{{vm.name}}</td>
                    <td style="color:{{statusColor(vm.metadata.status)}}">{{vm.metadata.status}}</td>
                    <td>{{vm.metadata.networkInterfaces[0].accessConfigs[0].natIP}}</td>
                    <td>{{vm.metadata.scheduling.preemptible}}</td>
                    <td>
                        <md-button class="md-warn">Stop</md-button>
                    </td>
                </tr>
            </table>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>